.range-container {
  width: 200px;
  height: 15px;
  cursor: pointer;
}

.range {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 50px;
}

.range span {
  width: 10px;
  height: 10px;
  position: absolute;
}
